@media screen and (max-width : 992px) {
  .main-iphone {
    width: 260px;
    display: block;
    float: none;
    margin: auto;
    margin-top: 42px;
  }
  .main-text {
    float: none;
    margin-top: 50px;
    text-align: center;
  }
  .main-profile {
    
  }
}

body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

.main-background {
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    height: 550px;
    padding: 20px;
    color: white;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.main-text {
    float: left;
    
}

.main-profile {
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 300px;
    float: right;
    margin-bottom: 95px;
}

.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-black {
    background-color: violet;
    color: white;
}

.btn-black:hover{
    transform: translateY(-3px);
    background-color: #b41180;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-black:active {
    transform: translateY(0) scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}